<mat-card>
    <mat-card-content>
        <h1>{{channelname}}</h1>
        <mat-form-field>
            <mat-label for="id1">Counter Input</mat-label>
            <input matInput [(ngModel)]="counterinput" id="id1">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label for="id2">Action Type</mat-label>
            <mat-select [(ngModel)]="actiontype" id="id2">
                <mat-option value="add">Add</mat-option>
                <mat-option value="remove">Remove</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="onIncrement()">Proceed</button>
    </mat-card-content>
</mat-card>

